 /*setting backgournd color, font family and setting up for hole page */ 
* {
    background-color: darkcyan;
    color:white;
    font-family:sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

 /*centering text, chaning to white with green background, setting size etc of heading */ 
header>h1 {
    text-align: center;
    background-color: white;
    color:darkcyan;
    padding:20px;
    font-size:50px;
}

 /* setting border wize margin color and fotn family for scoreboard*/ 
.scoreboard {
  border:3px solid white;
  width:200px;
  margin:20px auto;
  color:white;
  font-size:40px;
  border-radius:4px;
  text-align:center;
  padding:15px 20px;
  font-family:sans-serif;
  position: relative;
}

 /* setting border size and font size of question box*/ 
.question-box{
    border: 3px solid white;
    width:80%;
    height: 300px;
    margin: 20px auto;
    font-size:30px;
    border-radius: 4px;
    text-align: left;
    position:relative;
}

 /*setting margin */ 
#question{
    margin:10px 10px;
}

 /* setting size for image question*/ 
img{
    max-width:80px;
}

 /*putting border around each answer and setting size */ 
.answer {
    border:3px solid black;
    border-radius:8px;
    width:30%;
    padding:10px;
    display:inline-block;
}

 /* position for answer a*/ 
#answer-a{
    position:absolute;
    top:110px;
    left:25px;
}

 /*position for answer b */ 
#answer-b{
    position:absolute;
    top: 110px;
    right:25px;
}

 /* position for answer c*/ 
#answer-c{
    position: absolute;
    bottom:30px;
    left:25px;
}

 /* position for answer d */ 
#answer-d {
    position:absolute;
    bottom:30px;
    right:25px;
}
 /* changes answer background color for effect*/ 
.answer:hover {
    cursor:pointer;
    background: red;
  }

   /* reduces font size for responsive design*/ 
  @media(max-width: 600px){
    *{
        text-align: center;
        font-size:20px;
    }
    header>h1{
        font-size: 30px;
    }
  }

  @media(max-width:400px){
    .answer{
        font-size: 10px;
    }
  }